/* .main {
  height: max-content;
} */

:root {
  padding: 0;
  margin: 0;
  outline: 0;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  box-sizing: border-box;
  font-family: "Montserrat";
  font-size: 16px;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

.left-vector {
  position: fixed;
  top: 0%;
  left: 0%;
  margin: 0;
  padding: 0;
  z-index: -1;
  height: 100vh;
}

.hexagon-first {
  order: -1;
}

.hexagon-second {
  order: -1;
}

.left-vector img {
  height: 100vh;
  width: auto;
}

.header {
  /* position: fixed; */
  left: 50%;
  top: 10%;
  transform: translate(-50%, -10%);
  width: max-content;
  position: absolute;
}

body {
  background-color: #ffcccc;
}

.right-vector {
  right: 0%;
  bottom: -0.5%;
  margin: 0;
  padding: 0;
  position: fixed;
  text-align: center;
  color: white;
}

h1 {
  color: #ffffff;
  font-family: "Montserrat";
  font-style: normal;
  letter-spacing: 0.05rem;
  font-weight: 500;
  font-size: 2rem;
  text-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
}

.right-vector-text {
  position: absolute;
  width: max-content;
  top: 75%;
  left: 75%;
  transform: translate(-75%, -75%);
}

.right-vector-text span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  color: #ffffff;
  text-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
}

#copy-sign {
  color: #000000;
  font-weight: 600;
  text-shadow: none;
}

.hexagons-container {
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -40%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0rem 2rem;
  width: 80vw;
  height: 50vh;
}

.svg {
  width: 0;
  height: 0;
  position: absolute;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.mobile-break {
  display: none;
}

.wrapHexagon {
  position: relative;
  clip-path: url(#myClipPath);
  width: auto;
  /* width: 30%; */
  height: 60%;
  z-index: 100;
  transition: all 1s ease-in-out;
}

.wrapHexagon:hover {
  background-color: white;
  /* filter: opacity(1) drop-shadow(0 0 0 white); */
  cursor: pointer;
}

.wrapHexagon:hover img.imageInHexagon {
  opacity: 0;
}

.wrapHexagon:hover .menuDesc {
  opacity: 1;
}

img.hexagon {
  width: 100%;
  height: 100%;
}

img.imageInHexagon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  transition: all 1s ease-in-out;
}

.wrapHexagon h2 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: center;
  color: #000000;
  opacity: 0;
  transition: all 1s ease-in-out;
}

/* media queries -------------------------- */

@media only screen and (max-width: 1498px) {
  .wrapHexagon {
    width: 30%;
    height: auto;
  }
}

/* @media only screen and (min-width: 1200px) {
  .hexagons-container {
    width: 65vw;
  }
} */


@media only screen and (max-height: 1000px) {
  .wrapHexagon {
    width: 20%;
    height: auto;
  }
}

@media only screen and (max-width: 705px) {
  :root {
    font-size: 14px;
  }

  .right-vector {
    position: fixed;
    bottom: 0%;
    width: 125vw;
    height: 5vh;
    background-color: #ff9d9d;
  }

  .right-vector-text {
    top: 75%;
    left: 95%;
    transform: translate(-95%, -75%);
    padding-bottom: 0.5rem;
  }

  .right-vector img {
    display: none;
  }

  .hexagons-container {
    left: 50%;
    top: 55%;
    transform: translate(-50%, -55%);
    height: 60vh;
  }

  .wrapHexagon {
    width: 35%;
  }
}

@media only screen and (max-width: 420px) {
  body {
    font-size: 10px;
  }

  :root {
    font-size: 10px;
  }

  h1 {
    letter-spacing: 0.025em;
    font-weight: 400;
    font-size: 30px;
    text-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
  }

  .break {
    display: none;
  }

  .mobile-break {
    display: unset;
    flex-basis: 100%;
    height: 0;
  }

  .wrapHexagon {
    width: 40%;
    height: auto;
  }

  .wrapHexagon h2 {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
  }
}
