/* .main {
  height: max-content;
} */

:root {
  padding: 0;
  margin: 0;
  outline: 0;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  box-sizing: border-box;
  font-family: 'Montserrat';
  font-size: 16px;
} 

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

.left-vector {
  position: fixed;
  top: 0%;
  left: 0%;
  margin: 0;
  padding: 0;
  z-index: -1;
  height: 100vh;
}

.left-vector img {
  height: 100vh;
  width: auto;
}

.header {
  position: fixed;
  left:50%;
  top:10%;
  transform: translate(-50%,-10%);
  width: max-content;
  position: absolute;
}

body {
  background-color: #ffcccc;
}

.right-vector {
  right: 0%;
  bottom: 0%;
  margin: 0;
  padding: 0;
  position: fixed;
  text-align: center;
  color: white;
}

h1 {
  color: #ffffff;
  font-family: "Montserrat";
  font-style: normal;
  letter-spacing: 0.05em;
  font-weight: 500;
  font-size: 36px;
  text-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
}

.right-vector-text {
  position: absolute;
  width: max-content;
  top: 75%;
  left: 75%;
  transform: translate(-75%, -75%);
}

.right-vector-text span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #ffffff;
  text-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
}

#copy-sign {
  color: #000000;
  font-weight: 600;
  text-shadow: none;
}


.hexagons-container {
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(-50%,-40%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 50vh;
}

.wrapHexagon
{
  width: 30%;
  height: 80%;
  position: relative;
  clip-path: polygon(50% 4%, 96% 30%, 96% 70%, 52% 95%, 4% 70%, 4% 30%);
  z-index: 100;
  transition: all 1s ease-in-out;
}

.wrapHexagon:hover
{
  background-color: white;
  cursor: pointer;
}

.wrapHexagon:hover img.imageInHexagon
{
  opacity: 0;
}

.wrapHexagon:hover .menuDesc
{
  opacity: 1;
}

img.hexagon
{
  width: 100%;
  height: 100%;
}



img.imageInHexagon
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 50%;
  height: 50%;
  transition: all 1s ease-in-out;
}


.wrapHexagon h2
{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-45%);
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: center;
  color: #000000;
  opacity: 0;
  transition: all 1s ease-in-out;
}




@media only screen  and (max-width: 1373px){

}