.header {
  display: flex;
  gap: 1rem;
}

.subtitlePage {
  color: #ffffff;
  font-family: "Montserrat";
  font-style: normal;
  letter-spacing: 0.05rem;
  font-weight: 500;
  font-size: 2rem;
  text-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
}

.main-content {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12vw;
}

.mainLayout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
  height: 60vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.white-box {
  position: relative;
  border-radius: 25px;

  width: 40%;
  height: 60%;
}

.white-box-background {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  background: #ffebeb;

  filter: blur(20px);
}

.darker-background {
  background: #ff9d9d;
}

.white-box-content {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5%;
}

.white-box a {
  text-decoration: none;
  cursor: pointer;
  color: #ff9d9d;
  font-size: 2rem;
  font-weight: 600;
  margin: 1.5rem;
  transition: all 0.5s ease-in-out;
  letter-spacing: 0.1rem;
}

.white-box a:hover {
  letter-spacing: 0.3rem;
  color: #dd7b7b;
}

.homepage-button {
  margin-right: 3rem;
  transition: all 0.5s ease-in;
}

.homepage-button:hover {
  transform: translateY(-10%);
  opacity: 0.8;
}

.main-image {
  width: 50%;
  height: 70%;
}

.main-image img {
  width: 100%;
  height: 100%;
}

.socialMedia {
  order: -1;
}

.white-box-socialMedia {
  position: relative;
  border-radius: 25px;

  width: 40%;
  height: 60%;
}

.white-box-content-socialMedia {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10% 20%;
}

.icons {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.icons:hover {
  transform: translate(-10%, -2%);
  opacity: 0.9;
}

.break-point {
  flex-basis: 100%;
  height: 0;
}

.aboutMeText,
.curiositiesText {
  margin: 0 2rem;
  width: fit-content;
}

.aboutMeText span,
.white-box-content span {
  color: #ffffff;
  font-weight: 500;
  font-size: 1.2rem;
}

.aboutMeImg {
  /* transform: scale(0.7); */
  width: 15vw;
  height: auto;
}

.aboutMeLayout {
  justify-content: space-around;
}

/* 
  studentsBook page
*/

.studentsBook {
  flex-direction: column;
}

.topNavBar,
.another-one-button {
  border-radius: 1.5rem;
  width: 25vw;
  height: 3rem;
  background: #ff9d9d;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: relative;
  transition: all 0.35s;
  cursor: pointer;
}

#topNavBarContent {
  /* display: none; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  visibility: hidden;
  opacity: 0;

  border-radius: 1.5rem;
  padding: 2rem;
  background: #ff9d9d;

  transition: visibility 0s, opacity 0.5s linear;
}

.topNavBar-img {
  position: absolute;
  right: 1rem;
  transition: all 0.35s;
}

.topNavBar span,
#topNavBarContent {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.05em;
  color: white;
  transition: all 0.35s;
}

#topNavBarContent label {
  transition: all 0.35s;
  padding: 0.25em;
  border-radius: 0.5em;
}

#topNavBarContent input[type="checkbox"] {
  display: none;
}

#topNavBarContent input[type="checkbox"]:checked + .department {
  background-color: hsla(0, 100%, 96%, 0.4);
}

#topNavBarContent label:hover {
  letter-spacing: 0.07em;
  background-color: hsla(0, 100%, 96%, 0.4);
}

.topNavBar:hover > span {
  letter-spacing: 0.06em;
}

.topNavBar:hover > .topNavBar-img {
  transform: translateY(4%);
}

.topNavBar:hover {
  box-shadow: 0 0 4px 4px rgb(0 0 0 / 10%);
}

.studentsBookWhiteBox {
  width: 60vw;
}

.studentsBookContent {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: unset;
}

.bookBar {
  border-radius: 1.5rem;
  width: 65%;
  height: 6rem;
  background: #ff9d9d;
  display: none;
  /* display: flex; */
  justify-content: space-around;
  align-items: center;
}

.bookBar span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.download-icon {
  cursor: pointer;
  transition: all 0.2s;
}
.download-icon:hover {
  transform: scale(1.1);
}

.up-arrows,
.down-arrows {
  cursor: pointer;
  position: absolute;
  right: 5%;
  transition: all 0.4s;
}
.up-arrows {
  top: 2rem;
}
.up-arrows:hover {
  transform: translateY(-5%) scale(1.05);
}
.down-arrows {
  bottom: 2rem;
}
.down-arrows:hover {
  transform: translateY(5%) scale(1.05);
}

/* curiosities page */

.another-one-button {
  position: absolute;
  z-index: 999;
  width: max-content;
  padding: 0.75rem 2rem;
  border-radius: 2rem;
  bottom: -30%;
  left: 20%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.another-one-button span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

.curiosities-header {
  letter-spacing: 0.25em;
  text-shadow: none;
}

/* quiz page */

#mainLayoutQuizes {
  width: 80%;
  height: 80%;
}

.quizBar {
  border-radius: 1.5rem;
  width: 85%;
  height: 3rem;
  background: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.quizBar span {
  color: black;
}

.quizBar a {
  font-size: 1rem;
}

/* media queries -------------------------- */

@media only screen and (max-width: 1110px) {
  :root {
    font-size: 12px;
  }

  .mainLayout {
    flex-direction: column;
    justify-content: space-around;
    height: 70vh;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
  }

  .main-image {
    order: -1;
    width: 40%;
    height: 60%;
    margin-bottom: 3rem;
    margin-bottom: 5rem;
  }

  .white-box {
    width: 60%;
    height: 40%;
  }

  .homepage-button img {
    transform: scale(0.7);
  }

  /* socialMedia page */
  .white-box-socialMedia {
    width: 60%;
    height: 40%;
  }

  .icons img {
    transform: scale(0.7);
  }
}

@media only screen and (max-width: 700px) {
  :root {
    font-size: 10px;
  }

  .main-image {
    order: -1;
    width: 55%;
    height: 20%;
    margin-bottom: 3rem;
  }

  .white-box {
    width: 80%;
    height: 50%;
  }

  .homepage-button img {
    transform: scale(0.6);
  }

  /* socialMedia page */
  .white-box-socialMedia {
    width: 80%;
    height: 50%;
  }

  .icons img {
    transform: scale(0.65);
  }
}

@media only screen and (max-width: 550px) {
  .homepage-button {
    position: absolute;
    top: 0%;
    left: 75%;
    transform: scale(0.7);
  }

  .main-image {
    order: -1;
    width: 70%;
    height: 70%;
    margin-bottom: 3rem;
    margin-bottom: 5rem;
  }

  .white-box {
    width: 100%;
    height: 50%;
  }

  .wrapHexagon h2 {
    bottom: 70%;
    left: 30%;
    transform: translate(-30%, -10%);
  }

  /* socialMedia page */
  .white-box-socialMedia {
    width: 100%;
    height: 50%;
  }

  .icons img {
    transform: scale(0.6);
  }
}

@media only screen and (max-width: 440px) {
  .main-image {
    order: -1;
    width: 90%;
    height: 70%;
    margin-bottom: 3rem;
    margin-bottom: 5rem;
  }

  .white-box {
    width: 80vw;
    height: 50%;
  }

  /* socialMedia page */
  .white-box-socialMedia {
    width: 80vw;
    height: 50%;
  }

  .icons img {
    transform: scale(0.5);
  }
}
